.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  max-width: 200px;
  position: absolute;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  font-size: 11px;
}
